{% extends 'base.html.twig' %}

{% block title %}Newaccount Main Page{% endblock %}

{% block body %}

<div align="center">
  <h2>User Account Request - to be filled by the Group Manager</h2>
  <h3>Please fill in all the fields</h3>
</div>

{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<table>
  <tr>
    <td> Name</td>
    <td> {{ form_widget(attribute(form, "name"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Surname</td>
    <td> {{ form_widget(attribute(form, "surname"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Contact Person</td>
    <td> {{ form_widget(attribute(form, "contactPerson"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Is a NEW account?</td>
    <td> {{ form_widget(attribute(form, "accountIsNew"), { 'attr': {'size': '2'} }) }} </td>
  </tr>
  <tr>
    <td> Arrival Date</td>
    <td> {{ form_widget(attribute(form, "validFrom"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Departure Date</td>
    <td> {{ form_widget(attribute(form, "validTo"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> User profile</td>
    <td> {{ form_widget(attribute(form, "profile"), { 'attr': {'size': '11'} }) }} </td>
  </tr>
  <tr>
    <td> Main Group</td>
    <td> {{ form_widget(attribute(form, "groupName"), { 'attr': {'size': '11'} }) }} </td>
  </tr>
  <tr>
    <td> Needs email account</td>
    <td> {{ form_widget(attribute(form, "emailEnabled"), { 'attr': {'size': '3'} }) }} </td>
  </tr>
  <tr>
    <td> Needs Windows account</td>
    <td> {{ form_widget(attribute(form, "windowsEnabled"), { 'attr': {'size': '3'} }) }} </td>
  </tr>
  <tr>
    <td> Needs Linux account</td>
    <td> {{ form_widget(attribute(form, "linuxEnabled"), { 'attr': {'size': '3'} }) }} </td>
  </tr>
  <tr>
    <td> IT Regulation accepted</td>
    <td> {{ form_widget(attribute(form, "itRegulationAccepted"), { 'attr': {'size': '3'} }) }} </td>
  </tr>
  <tr>
    <td> Note</td>
    <td> {{ form_widget(attribute(form, "note"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
</table>

<center>
<input type="submit" value="SEND REQUEST" class='button' style='width: 80%; font-size: 20px;'/>
</center>
{{ form_end(form) }}

{% endblock %}
