{% extends 'newaccount/base.html.twig' %}

{% block title %}NewAccount - Showall{% endblock %}

{% block javascripts %}
  <script>
    // initialization and configuration
    $(document).ready( function () {
        $('#newaccountShowallTable').dataTable( {
              "fixedHeader": true,
              "lengthMenu": [ 1000, 100, 75, 50, 25, 10 ]
              //"info":     false, // remove header and footer
              //"ordering": false,
              //"bPaginate": false,
              //"sDom": 'T<"clear">lfrtip'
        } ); // end dataTable
    } ); // end ready function
    // END initialization and configuration
  </script>
{% endblock %}


{% block body %}

{#
{% if is_granted("ROLE_USER") %}
  <h3>Request from: {{ app.user.username }}</h3>
{% endif %}
#}

<table id="newaccountShowallTable">
  <thead>
    <tr>
      <td>Id</td>
      <td>Username</td>
      <td>Name</td>
      <td>Surname</td>
      <td>New</td>
      <td>Group</td>
      <td>Contact Person</td>
      <td>Arrival Date</td>
      <td>Departure Date</td>
      <td>User Profile</td>
      <td>E</td>
      <td>W</td>
      <td>L</td>
      <td>R</td>
      <td>PC</td>
      <td>Note</td>
      <td>Request Date</td>
      <td>Create Date</td>
      <td>Ver</td>
      <td>Res</td>
    </tr>
  </thead>

  <tbody>
    {% for ar in list %}
    <tr>
      <td> {{ ar.id }} </td>
      <td> {{ ar.username }} </td>
      <td> {{ ar.name }} </td>
      <td> {{ ar.surname }} </td>
      <td> {% if ar.accountIsNew %} Y {% else %} N {% endif %} </td>
      <td> {% if ar.groupName == "GFC" %} GFS {% elseif ar.groupName == "GFA" %} GFO {% else %} {{ ar.groupName }} {% endif %} </td>
      <td> {{ ar.contactPerson }} </td>
      <td> {{ ar.validFrom|date('d/m/Y') }} </td>
      <td> {{ ar.validTo|date('d/m/Y') }} </td>
      <td> {{ ar.profile }} </td>
      <td> {% if ar.emailEnabled %} Y {% else %} N {% endif %} </td>
      <td> {% if ar.windowsEnabled %} Y {% else %} N {% endif %} </td>
      <td> {% if ar.linuxEnabled %} Y {% else %} N {% endif %} </td>
      <td> {% if ar.itRegulationAccepted %} Y {% else %} N {% endif %} </td>
      <td> {% if ar.pcRequired %} Y {% else %} N {% endif %} </td>
      <td> {{ ar.note }} </td>
      <td> {{ ar.requested|date('d/m/Y') }} </td>
      <td> {{ ar.created|date('d/m/Y') }} </td>
      <td> {{ ar.version }} </td>
      <td> {{ ar.internalNote }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
