{% extends 'baseroot.html.twig' %}

{% block title %}Newuser Page{% endblock %}

{% block body %}

{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<table style="border-collapse: collapse;">
  <tr>
    <td> Cognome</td>
    <td> {{ form_widget(attribute(form, "surname"), { 'attr': {'size': '40'} }) }} </td>
    <td bgcolor="gray" style="border-left: 4px solid #000000;"></td>
    <td bgcolor="gray"><font color='white'>Campi facoltativi</font></td>
  </tr>
  <tr>
    <td> Nome</td>
    <td> {{ form_widget(attribute(form, "name"), { 'attr': {'size': '40'} }) }} </td>
    <td style="border-left: 4px solid #000000; padding-left: 10px"> Username</td>
    <td> {{ form_widget(attribute(form, "username"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Gruppo di appartenenza</td>
    <td> {{ form_widget(attribute(form, "groupName"), { 'attr': {'size': '1'} }) }} </td>
    <td style="border-left: 4px solid #000000; padding-left: 10px"> E-mail</td>
    <td> {{ form_widget(attribute(form, "email"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td></td>
    <td></td> 
    <td style="border-left: 4px solid #000000; padding-left: 10px"> E-mail secondaria</td>
    <td> {{ form_widget(attribute(form, "secondaryEmail"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Qualifica</td>
    <td> {{ form_widget(attribute(form, "qualification"), { 'attr': {'size': '1'} }) }} </td>
    <td style="border-left: 4px solid #000000;"></td>
    <td></td>
  </tr>
  <tr>
    <td> Organizzazione</td>
    <td> {{ form_widget(attribute(form, "organization"), { 'attr': {'size': '1'} }) }} </td>
    <td style="border-left: 4px solid #000000; padding-left: 10px"> Telefono Ufficio</td>
    <td> {{ form_widget(attribute(form, "officePhone"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
      <td> Organizzazione (nome se EXT)</td><td><input type="text"></input></td>
  <tr>

  {#<tr>
    <td> Ore all'anno - da contract calcolato part-time</td>
    <td> {{ form_widget(attribute(form, "totalHoursPerYear"), { 'attr': {'size': '60'} }) }} </td>
  </tr>#}
  <tr>
    <td> Ore all'anno (come da contratto) </td>
    <td> {{ form_widget(attribute(form, "totalContractualHoursPerYear"), { 'attr': {'size': '60'} }) }} </td>
    <td style="border-left: 4px solid #000000; padding-left: 10px"> Secondo Telefono Ufficio</td>
    <td> {{ form_widget(attribute(form, "officeMobile"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Percentuale PPY/part-time</td>
    <td> {{ form_widget(attribute(form, "parttimePercent"), { 'attr': {'size': '30'} }) }} </td>
    <td style="border-left: 4px solid #000000; padding-left: 10px"> Posizione Ufficio</td>
    <td> {{ form_widget(attribute(form, "officeLocation"), { 'attr': {'size': '60'} }) }} </td>
  </tr>
  <tr>
    <td> Timesheet abilitato?</td>
    <td> {{ form_widget(attribute(form, "isTimeSheetEnabled"), { 'attr': {'size': '2'} }) }} </td>
    <td style="border-left: 4px solid #000000;"></td>
  </tr>
  <tr>
    <td> Data Inizio</td>
    <td> {{ form_widget(attribute(form, "validFrom"), { 'attr': {'size': '60'} }) }} </td>
    <td style="border-left: 4px solid #000000;"></td>
  </tr>
  <tr>
    <td> Data Fine</td>
    <td> {{ form_widget(attribute(form, "validTo"), { 'attr': {'size': '60'} }) }} </td>
    <td style="border-left: 4px solid #000000;"></td>
  </tr>

  <tr>
    <td>Capo Gruppo di</td>
    <td>
      <br><font style="color:grey">Research</font><br>
      {# {{ form_widget(attribute(form, "leaderOfGroup"), { 'attr': {'size': '10'} }) }} #}
      {{ form_widget(form.leaderOfGroup.0) }}{{ form_label(form.leaderOfGroup.0) }}<br>
      {{ form_widget(form.leaderOfGroup.1) }}{{ form_label(form.leaderOfGroup.1) }}<br>
      {{ form_widget(form.leaderOfGroup.2) }}{{ form_label(form.leaderOfGroup.2) }}<br>
      {{ form_widget(form.leaderOfGroup.3) }}{{ form_label(form.leaderOfGroup.3) }}<br>

      {#      {{ form_widget(form.leaderOfGroup.4) }}{{ form_label(form.leaderOfGroup.4) }}<br> #}
      {% do form.leaderOfGroup.4.setRendered() %}

      {{ form_widget(form.leaderOfGroup.5) }}{{ form_label(form.leaderOfGroup.5) }}<br>
      {{ form_widget(form.leaderOfGroup.6) }}{{ form_label(form.leaderOfGroup.6) }}<br>
      {{ form_widget(form.leaderOfGroup.7) }}{{ form_label(form.leaderOfGroup.7) }}<br>
      {{ form_widget(form.leaderOfGroup.8) }}{{ form_label(form.leaderOfGroup.8) }}<br>
      {{ form_widget(form.leaderOfGroup.9) }}{{ form_label(form.leaderOfGroup.9) }}<br>
      {{ form_widget(form.leaderOfGroup.10) }}{{ form_label(form.leaderOfGroup.10) }}<br>
      <br><font style="color:grey">Technical Staff</font><br>
      {{ form_widget(form.leaderOfGroup.11) }}{{ form_label(form.leaderOfGroup.11) }}<br>
{#      {% do form.leaderOfGroup.11.setRendered() %} #}
      {{ form_widget(form.leaderOfGroup.12) }}{{ form_label(form.leaderOfGroup.12) }}<br>
      {{ form_widget(form.leaderOfGroup.13) }}{{ form_label(form.leaderOfGroup.13) }}<br>
      {{ form_widget(form.leaderOfGroup.14) }}{{ form_label(form.leaderOfGroup.14) }}<br>
      {{ form_widget(form.leaderOfGroup.15) }}{{ form_label(form.leaderOfGroup.15) }}<br>
      {{ form_widget(form.leaderOfGroup.16) }}{{ form_label(form.leaderOfGroup.16) }}<br>
      {{ form_widget(form.leaderOfGroup.17) }}{{ form_label(form.leaderOfGroup.17) }}<br>
      {{ form_widget(form.leaderOfGroup.18) }}{{ form_label(form.leaderOfGroup.18) }}<br>
      <br><font style="color:grey">Administration</font><br>
      {{ form_widget(form.leaderOfGroup.19) }}{{ form_label(form.leaderOfGroup.19) }}<br>
      {{ form_widget(form.leaderOfGroup.20) }}{{ form_label(form.leaderOfGroup.20) }}<br>
      <br><font style="color:grey">Direction</font><br>
      {{ form_widget(form.leaderOfGroup.21) }}{{ form_label(form.leaderOfGroup.21) }}<br>
      {{ form_widget(form.leaderOfGroup.22) }}{{ form_label(form.leaderOfGroup.22) }}<br>
      {{ form_widget(form.leaderOfGroup.23) }}{{ form_label(form.leaderOfGroup.23) }}<br>
      {{ form_widget(form.leaderOfGroup.24) }}{{ form_label(form.leaderOfGroup.24) }}<br>
      {{ form_widget(form.leaderOfGroup.25) }}{{ form_label(form.leaderOfGroup.25) }}<br>
      {{ form_widget(form.leaderOfGroup.26) }}{{ form_label(form.leaderOfGroup.26) }}<br>
      {{ form_widget(form.leaderOfGroup.27) }}{{ form_label(form.leaderOfGroup.27) }}<br>
      {{ form_widget(form.leaderOfGroup.28) }}{{ form_label(form.leaderOfGroup.28) }}<br>
      {{ form_widget(form.leaderOfGroup.29) }}{{ form_label(form.leaderOfGroup.29) }}<br>

      {{ form_widget(form.leaderOfGroup.30) }}{{ form_label(form.leaderOfGroup.30) }}<br>
      {{ form_widget(form.leaderOfGroup.31) }}{{ form_label(form.leaderOfGroup.31) }}<br>

  
    </td>
    <td style="border-left: 4px solid #000000; padding-left: 10px"><b>Note</b></td>
    <td> {{ form_widget(attribute(form, "note"), { 'attr': {'cols': '48', 'rows': 10} }) }} </td>
    
  </tr>

  
  
  <tr>
    <td>
      <center>
      <a href="{{ path('showall') }}" class="button" style="width:80%">ANNULLA</a>
      </center>
    </td>
    <td></td>
    <td>
      <center>{{ form_widget(attribute(form, "newrecord")) }}</center>
    </td>
    <td>
      <center>{{ form_widget(attribute(form, "update")) }}</center>
    </td>
  </tr>
</table>


  <hr>

  <center>
    <h3>
      <table style="width:100%">
      <tr><td bgcolor="gray"><center><font color='white'>Dottorandi, tirocinanti, tesisti</font></center>
      </td></tr></table>
    </h3>
    </center>

  <table>
    <tr>
      <td>Titolo tesi proposta</td><td><input type="text"></input></td>
    <tr>
    <tr>
      <td>Competenze raggiunte</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Tutor1</td><td><input type="text"></input></td>
    <tr>
    <tr>
      <td>Tutor1 (organizzazione a cui appartiene)</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Tutor2</td><td><input type="text"></input></td>
    <tr>
    <tr>
      <td>Tutor2 (organizzazione a cui appartiene)</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Tutor3</td><td><input type="text"></input></td>
    <tr>
    <tr>
      <td>Tutor3 (organizzazione a cui appartiene)</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Finanziato da</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Corso di Studio</td><td><input type="text"></input></td>
    <tr>
    <tr>
      <td>Titolo di Studio</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Titolo di Studio conseguito a</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Titolo di Studio conseguito presso</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Titolo di Studio data</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Titolo di Studio titolo tesi</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Dipartimento di provenienza</td><td><input type="text"></input></td>
    <tr>

    <tr>
      <td>Citt&agrave;/paese di provenienza</td><td><input type="text"></input></td>
    <tr>

      

      
      
    </table>




  

  {% if userBelongsTo(users_beta, username) %}
  <hr>
  <table>
    <tr>
    <!-- descriptions' fields -->
      <td>
        <!-- {{ form_widget(attribute(form, "descriptionL1"), { 'attr': {'size': '40'} }) }}  -->
        Short description
        {{ form_widget(attribute(form, "descriptionD1"), { 'attr': {'size': '60'} }) }}
        <hr>
        <!-- <div align="top">{{ form_widget(attribute(form, "descriptionL2"), { 'attr': {'size': '40'} }) }} </div> -->
        Activity <br>
        {{ form_widget(attribute(form, "descriptionD2"), { 'attr': {'rows': '10', 'cols': '80' } }) }}
      </td>

      <!-- attach's fields -->
      <td>
        {% if photoWeb is defined and photoWeb is not null and photoWeb is not empty %}
          <center>
            <img src="{{baseUrl}}{{local_files_directory}}/{{photoWeb}}" alt="photo" height="256">
            <br>
            <a href="{{ path('deletePhoto', { 'id': id}) }}" class="smallbutton" style="width:80%">Delete this photo</a>
          </center>
        {% endif %}
      </td>
      <td>
        <h2>Upload new photo {{ form_widget(attribute(form, "photoWeb"), { 'attr': {'size': '40'} }) }}</h2>
      </td>
    </tr>
  </table>
  {% else %}
    {% do form.descriptionL1.setRendered() %}
    {% do form.descriptionL2.setRendered() %}
    {% do form.descriptionD1.setRendered() %}
    {% do form.descriptionD2.setRendered() %}
    {% do form.photoWeb.setRendered() %}
  {% endif %}

<br>
<hr>

{{ form_end(form) }}

{% endblock %}
