{% extends 'base.html.twig' %}

{% block title %}Staff - Showall{% endblock %}

{% block javascripts %}
  <script>
    // initialization and configuration
    $(document).ready( function () {
        $('#staffShowallTable').dataTable( {
              "fixedHeader": true,
              "lengthMenu": [ 200, 100, 75, 50, 25, 10 ]
              //"info":     false, // remove header and footer
              //"ordering": false,
              //"bPaginate": false,
              //"sDom": 'T<"clear">lfrtip'
        } ); // end dataTable
    } ); // end ready function
    // END initialization and configuration
  </script>
{% endblock %}


{% block body %}

<table id="staffShowallTable">
  <thead>
    <tr>
      <td>Id</td>
      <td>Username</td>
      <td>E-mail</td>
      <td>Secondary E-mail</td>
      <td>Name</td>
      <td>Surname</td>
      <td>Group</td>
      <td>Capogruppo di</td>
      <td>Qualification</td>
      <td>Organization</td>
      {# <td>Total H/year</td> #}
      <td>Total H/year</td>
      <td>Partime</td>
      <td>Timesheet</td>
      <td>Create Date</td>
      <td>Valid From</td>
      <td>Valid To</td>
      <td>Note</td>
      <td>Version</td>
      <td>Office Phone</td>
      <td>Office Mobile</td>
      <td>Office Location</td>
    </tr>
  </thead>

  <tbody>
    {% for ar in list %}
    <tr>
      <td> {{ ar.id }} </td>
      <td> {{ ar.username }} </td>
      <td> {{ ar.email }} </td>
      <td> {{ ar.secondaryEmail }} </td>
      <td> {{ ar.name }} </td>
      <td> {{ ar.surname }} </td>
      <td> {{ ar.groupName }} </td>
      <td> {{ ar.leaderOfGroup }} </td>
      <td> {{ ar.qualification }} </td>
      <td> {{ ar.organization }} </td>
      {# <td> {{ ar.totalHoursPerYear }} </td> #}
      <td> {{ ar.totalContractualHoursPerYear }} </td>
      <td> {{ ar.parttimePercent }} </td>
      <td> {% if ar.isTimesheetEnabled %} YES {% else %} NO {% endif %} </td>
      <td> {{ ar.created|date('d/m/Y') }} </td>
      <td> {{ ar.validFrom|date('d/m/Y') }} </td>
      <td> {{ ar.validTo|date('d/m/Y') }} </td>
      <td> {{ ar.note }} </td>
      <td> {{ ar.version }} </td>
      <td> {{ ar.officePhone }} </td>
      <td> {{ ar.officeMobile }} </td>
      <td> {{ ar.officeLocation }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
