{% extends 'base.html.twig' %}

{% block title %}Staff - Showall{% endblock %}

{% block javascripts %}
  <script>
    // initialization and configuration
    $(document).ready( function () {
        $('#staffShowallTable').dataTable( {
              "fixedHeader": true,
              "lengthMenu": [ 200, 100, 75, 50, 25, 10 ]
              //"info":     false, // remove header and footer
              //"ordering": false,
              //"bPaginate": false,
              //"sDom": 'T<"clear">lfrtip'
        } ); // end dataTable
    } ); // end ready function
    // END initialization and configuration
  </script>
{% endblock %}


{% block body %}

<table id="staffShowallTable">
  <thead>
    <tr>
      <td>Username</td>
      <td>E-mail</td>
      <td>Name</td>
      <td>Surname</td>
      <td>Group</td>
      <td>Capog.</td>
      <td>Qual</td>
      <td>Org</td>
{#
      <td>Contr.H</td>
      <td>Ptime</td>
#}
      <td>Av.H</td>
      <td>T.s</td>
      <td>Valid From</td>
      <td>Valid To</td>
      {% if userBelongsTo(users_admin, username) %}
      <td>Id</td>
      <td>Note</td>
      <td>Secondary E-mail</td>
      <td>Create Date</td>
      <td>Version</td>
      <td>Office Phone</td>
      <td>Office Mobile</td>
      <td>Office Location</td>
      <td>Last Change Atuthor</td>
      <td>Last Change Date</td>
      <td>Internal Note</td>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for ar in list %}
    <tr>
      <td> {{ ar.username }} </td>
      <td> {{ ar.email }} </td>
      <td> {{ ar.name }} </td>
      <td> {{ ar.surname }} </td>
      <td> {{ ar.groupName }} </td>
      <td> {{ ar.leaderOfGroup }} </td>
      <td> {{ ar.qualification }} </td>
      <td> {{ ar.organization }} </td>
{#
      <td> {{ ar.totalContractualHoursPerYear }} </td>
      <td> {{ ar.parttimePercent }} </td>
#}
      <td> <font color="gray">({{ ar.totalContractualHoursPerYear }}*{{ ar.parttimePercent|number_format(2, '.', '') }}=)</font>{{ ar.totalHoursPerYear }} </td>
      <td> {% if ar.isTimesheetEnabled %} YES {% else %} NO {% endif %} </td>
      <td> {{ ar.validFrom|date('d/m/Y') }} </td>
      <td> {{ ar.validTo|date('d/m/Y') }} </td>
      {% if userBelongsTo(users_admin, username) %}
      <td> {{ ar.id }} </td>
      <td> {{ ar.note }} </td>
      <td> {{ ar.secondaryEmail }} </td>
      <td> {{ ar.created|date('d/m/Y') }} </td>
      <td> {{ ar.version }} </td>
      <td> {{ ar.officePhone }} </td>
      <td> {{ ar.officeMobile }} </td>
      <td> {{ ar.officeLocation }} </td>
      <td> {{ ar.lastChangeAuthor }} </td>
      <td> {{ ar.lastChangeDate|date('d/m/Y') }} </td>
      <td> {{ ar.internalNote }} </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
